body{
    background-image: url(background.png); 
    background-repeat: no-repeat; 
    background-size:cover;
}
.container-grid{
    display: grid;
    grid-template-columns: 29% 69%;
    grid-template-rows: 98%;        
    border: 1px solid black;    
    justify-content: center;
    align-content: center;
}
.left-bar{
    border: 1px solid red;
    
}
.right-bar{
    border: 1px solid blue;
    
}
.profile{
    background-color: rgb(240, 242, 245);
    height: 8%;
}
.alerts{
    background-color: rgb(112, 187, 230);
    height: 12.5%;
}
.search{
    background-color: white;
    height: 5%;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.search-bar{
    border: none;
    width: 90%;
    height: 85%;
    font-size: 18px;
    background-color: rgb(240, 242, 245);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
#search-text{
   width: 100%;
   border-radius: 4px;  
   text-align: left;    
}
#search-text:focus{
    outline: none;
}
#search-button{
    border:none;
    margin-right: 5%;    
}
.contacts{
    background-color: white;
    height: 74%;
    overflow: auto;
}
.contact-grid{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50% 50%;
    border: 1px solid rgb(220, 15, 15);
    height: 12%;
}
.contact-img{
    grid-row: 1 / span 2;
    border: 1px solid ;
    width: 90%;
    height: 90%;
    border-radius: 100%;
}
.contacts div span{/*solo para ver el grid*/
    border: 1px solid ;
}
.font-small{
    font-size: small;
}
.font-medium{
    font-size: medium;
}
.center-down{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: white; 
}
   
::-webkit-scrollbar-thumb {
    background: rgb(207, 208, 209); 
}
.head-chat{
    background-color: rgb(240, 242, 245);
    height: 8%;
}
.head-grid{
    display: grid;
    grid-template-columns: 7% 78% 15%;
    grid-template-rows: 50% 50%;
    border: 1px solid rgb(220, 15, 15); 
}
.head-img{
    grid-row: 1 / span 2;
    border: 1px solid ;
    width: 70%;
    height: 80%;
    border-radius: 100%;
    align-self: center;
    justify-self: center;    
}
.head-icons{
    grid-row: 1 / span 2;
    grid-column: 3;
    justify-self: center;
    align-self: center;    
}
.head-grid > div{
    border: 1px solid aquamarine;
}
.msj{
    background-image: url(background-chat.jpg);
    height: 85%;
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    padding-left: 8%;
    padding-right: 8%;
    overflow: auto;
}
.footer-chat{
    height: 8%;
    background-color: rgb(240, 242, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-bar{
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    padding: 3px;
    
}
#footer-msj{
    width: 85%;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    font-size: medium;
}
#footer-msj:focus{
    outline: none;
}
.footer-button{
    border:none; 
    font-size: 20px;
    padding: 3px;
    width: 5%;
}
.msj-mine{
    background-color: rgb(224, 252, 214);
    align-self: flex-end;
}
.msj-yours{
    background-color: white;
    align-self: flex-start;
}
.msj-format{
    margin: 1px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 10%;
    border-radius: 5px;
}